<div class="container">

    <div >
      <p-button label="Adicionar Porta" icon="pi pi-plus"  (click)="novo()"></p-button>
    </div>
  
    <p-table [columns]="cols" [value]="ps.lista">
      <ng-template pTemplate="header" let-columns>
         
          <tr>
              <th *ngFor="let col of columns" id="header">
                  {{col.header}}
              </th>
          </tr>
          
          
      </ng-template>
      <ng-template pTemplate="body" let-linha>
          <tr>
              <td>
                  {{linha.id_porta}}
              </td>
              <td>
                  {{linha.descricao}}
              </td>
             
             <td>
                  
                  <button pButton type="button" icon="pi pi-trash" id="excluir" class="ui-button-danger" (click)="modalExcluir(linha)"></button>
             </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  

  
  
  <p-dialog id="dialogoCadastro" header="Porta" [(visible)]="mostarDialogo" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}"
      [minY]="70" [maximizable]="true" [baseZIndex]="1000">
      <form [formGroup]="formulario">
              
           <label for="">Descrição:</label>
          <div class="form-group">
              <div class="ui-inputgroup">
                  <span class="ui-float-label">
                      <input type="text" pInputText formControlName="descricao" [(ngModel)]="porta.descricao" name="descricao" />
                      <span class="ui-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                  </span>
              </div>
          </div>
         
         
      </form>
  
  
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="create()" [disabled]="formulario.invalid"
              label="Salvar"></button>
          <button type="button" pButton icon="pi pi-close" (click)="mostarDialogo=false" label="Cancelar" class="ui-button-danger"></button>
      </p-footer>
  </p-dialog>